# Base URL for backend API
# Change this depending on where your backend is running
# Example:
# - Local development: http://localhost:5001
# - Different port: http://localhost:5000

VITE_API_URL=http://localhost: